.player
	margin-bottom: 20px

	&__panel
		position: relative
		height: 100px
		background-color: #EEE
		box-shadow: 0 0 5px lighten($main-color, 35%)

	// &.is-visualized
	// 	margin-bottom: 120px

	&__progress
		position: absolute
		top: 21px
		left: 80px
		width: 50%
		height: 4px
		background-color: rgba(100, 100, 100, 0.3)
		border-radius: 3px

	&__volume
		position: absolute
		right: 20px
		top: 21px

	&:hover &__volume .volume-control:after,
	&:hover &__volume .volume-control:before
		opacity: 1


	&__info
		position: absolute
		left: 30px
		right: 20px
		top: 45px

	&__title
		display: block
		width: 100%
		margin-bottom: 10px
		overflow: hidden
		white-space: nowrap
		text-overflow: ellipsis
		color: #000
		font-size: 1.2em

	&__artist
		display: block
		color: #555
		font-size: 0.9em

	&__controls
		position: absolute
		left: 20px
		top: 5px

	&__play
		padding: 10px
		background-color: transparent
		border: none
		font-family: Flaticon
		font-size: 1em
		color: $main-color
		cursor: pointer
		outline: none

		&:hover
			color: invert($main-color);

		&.is-playing:before
			content: '\e002'

		&:before
			content: '\e003'

	& .spectrogram
		display: none
		margin-top: 5px

	&__btn
		position: absolute
		bottom: 5px
		width: 30px
		height: 30px
		outline: none
		cursor: pointer
		text-align: center
		line-height: 30px

	&__btn_spec
		right: 5px

		&:before
			font-family: Flaticon
			content: '\e009'
			font-size: 1.3em

	&.is-visualized	&__btn_spec
		background-color: lighten($main-color, 50%)

	&__btn_eq
		right: 40px

		&:before
			font-family: Flaticon
			content: '\e008'
			font-size: 1em

	&.is-equalizer	&__btn_eq
		background-color: lighten($main-color, 50%)

	&.is-equalizer	.equalizer
		display: block
